@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: 'Montserrat', sans-serif; */
}

.sidebar > * {
  /* padding: 20px 0; */
}

@media (min-width: 1024px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 1%;
  }
  
  
  
  .sidebar {
    height: 100vh;
    display: grid;
    place-items: stretch;
    
     /* display: flex;
      flex-direction: column;
     justify-content: space-around; */
  }
  
  .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    overflow: scroll;
  }
  
  .column > * {
    flex-grow: 1;
  }
}

.sidebar {
  /* background-color: hsl(0, 0%, 98%);; */
}

.column {
  /* background-color: hsl(0, 0%, 96%);; */

}


@media (prefers-color-scheme: dark) {
  .sidebar {
    background-color: hsl(0, 0%, 2%);;
  }

  .column {
    background-color: hsl(0, 0%, 4%);;
  }
}
